name: Run Shift Scheduler

on:
  schedule:
    - cron: "0 1 * * *"   # รันทุกวัน 22:00 UTC (ปรับเวลาได้)
  workflow_dispatch:        # กดรันเองได้

jobs:
  run-script:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.10'

      - name: Install dependencies
        run: |
          pip install -r requirements.txt

      - name: Run script
        env:
          HOST_BOT: ${{ secrets.HOST_BOT }}
          PORT_BOT: ${{ secrets.PORT_BOT }}
          DBNAME_BOT: ${{ secrets.DBNAME_BOT }}
          USER_BOT: ${{ secrets.USER_BOT }}
          PASSWORD_BOT: ${{ secrets.PASSWORD_BOT }}
        run: |
          python update_name_on.py
